# Segurança e Variáveis
.env

# Ambiente Virtual
env_aanc/
venv/

# Banco de Dados (O culpado do erro!)
*.db
data/*.db

# Python e Cache
__pycache__/
*.py[cod]
*$py.class

# Streamlit e IDE
.streamlit/
.vscode/

#Limpeza
rascunhos/

# Logs (Evita subir logs pesados do ML como o flaml_turnover.log)
*.log

# Cache de Testes (Gerados quando você rodou o DeepEval)
.pytest_cache/
.deepeval/

# Arquivos temporários de Sistema Operacional (Windows/Mac)
.DS_Store
Thumbs.db